@model IEnumerable<AutoInspectors.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<div>
    <img src="~/images/Auto Inspector logo small.jpg" alt="Logo" class="img-responsive" id="smallLogo" />
</div>

<h2>Vehicle List</h2>

<p>
    <a asp-action="Create">Register New Vehicle</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VIN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LicensePlate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mileage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Make)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EngineSize)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransmissionType)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransmissionType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VehicleID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VehicleID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VehicleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-default" href="~/Inspections">
        Inspections
    </a>
</p>
